{% extends "htmlbase.html" %}

{% block title %} Admin Login Page {% endblock title %}

{% block content %}

<div class="center2">
      <form method="post">
        {% csrf_token %}
        <span  class="head">
          <h2>Admin login</h2>
        </span>

        <div >
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
        </div>

        <div class="button-column">
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="{% url 'loginpage'%}" class="btn btn-secondary">Cancel</a>
          <p style = "color: red">{{user404}}</p>
        </div>
      </form>
    </div>

{% endblock content %}